<form class="w-80" hlmCard [formGroup]="loginForm" (submit)="onSubmit()">
  <div hlmCardHeader>
    <h3 hlmCardTitle>Sign-in your account.</h3>
    <p hlmCardDescription>
      Access your tasks and stay on top of your progress!
    </p>
  </div>
  <div hlmCardContent class="flex flex-col gap-1">
    @if(errorMessage) {
    <div hlmAlert variant="destructive">
      <ng-icon hlm hlmAlertIcon name="lucideTriangleAlert" />
      <p hlmAlertDesc>{{ errorMessage }}.</p>
    </div>
    }

    <input
      hlmInput
      placeholder="Username"
      name="username"
      type="text"
      formControlName="username"
      required
    />

    @if(loginForm.get('username')?.errors && loginForm.get('username')?.touched)
    {
    <p class="text-red-700 text-xs">
      {{ getErrorMessage("username") }}
    </p>
    }

    <input
      hlmInput
      placeholder="Password"
      type="password"
      formControlName="password"
      name="password"
    />

    @if(loginForm.get('password')?.errors && loginForm.get('password')?.touched)
    {
    <p class="text-red-700 text-xs">
      {{ getErrorMessage("password") }}
    </p>
    }
  </div>

  <div hlmCardFooter>
    <button type="submit" hlmBtn variant="default">Sign in</button>
  </div>
</form>
