<main class="py-8 w-full overflow-x-auto">
  <div class="flex gap-4 mb-4">
    <h2 [class]="hlmH3">Tasks</h2>
    <app-new-task-form (newTaskSubmitted)="handleNewTaskSubmitted($event)" />
  </div>
  <hlm-table class="w-full min-w-[400px]">
    <hlm-caption>A list of your recent tasks.</hlm-caption>
    <hlm-trow>
      <hlm-th class="min-w-20">ID</hlm-th>
      <hlm-th class="w-48">Title</hlm-th>
      <hlm-th class="flex-1">Description</hlm-th>
      <hlm-th class="w-32">Status</hlm-th>
      <hlm-th class="w-40">Created At</hlm-th>
      <hlm-th class="justify-end w-40">Actions</hlm-th>
    </hlm-trow>
    @for (task of tasks(); track task._id) {
    <hlm-trow>
      <hlm-td truncate class="max-w-20">{{ task._id }}</hlm-td>
      <hlm-td class="max-w-48 min-w-48">{{ task.title }}</hlm-td>
      <hlm-td class="flex-1">{{ task.description }}</hlm-td>
      <hlm-td class="min-w-32"
        ><p hlmBadge [class]="statusVariantsClassMap[task.status]">
          {{ task.status.toUpperCase() }}
        </p></hlm-td
      >
      <hlm-td class="w-40">{{ task.createdAt }}</hlm-td>
      <hlm-td class="justify-end flex gap-2 w-40">
        <!-- start of edit DIALOG -->

        <hlm-dialog>
          <button
            id="edit-profile"
            brnDialogTrigger
            (click)="openEditDialog(task)"
            class="flex gap-1 items-center btn btn-sm btn-primary"
          >
            Edit <ng-icon hlm size="sm" name="lucideFilePenLine" />
          </button>

          <hlm-dialog-content
            class="sm:max-w-[425px]"
            *brnDialogContent="let ctx"
          >
            <form [formGroup]="editForm" (submit)="onSubmit(ctx)">
              <hlm-dialog-header>
                <h3 hlmDialogTitle>Edit task</h3>
                <p hlmDialogDescription>
                  Make changes to your task here. Click save when you're done.
                </p>
              </hlm-dialog-header>
              <div class="py-4 grid gap-4">
                <div class="items-center grid grid-cols-4 gap-4">
                  <label hlmLabel for="title" class="text-right">Title</label>
                  <input
                    hlmInput
                    id="title"
                    formControlName="title"
                    class="col-span-3"
                  />
                </div>

                @if(editForm.get('title')?.errors &&
                editForm.get('title')?.touched) {
                <p class="text-red-700 text-xs ml-24">
                  {{ getErrorMessage("title") }}
                </p>
                }

                <div class="items-center grid grid-cols-4 gap-4">
                  <label hlmLabel for="description" class="text-right"
                    >Description</label
                  >
                  <input
                    hlmInput
                    id="description"
                    formControlName="description"
                    class="col-span-3"
                  />
                </div>

                @if(editForm.get('description')?.errors &&
                editForm.get('description')?.touched) {
                <p class="text-red-700 text-xs ml-24">
                  {{ getErrorMessage("description") }}
                </p>
                }

                <div class="items-center grid grid-cols-4 gap-4">
                  <label hlmLabel for="status" class="text-right">Status</label>
                  <brn-select
                    class="inline-block"
                    id="status"
                    formControlName="status"
                  >
                    <hlm-select-trigger class="w-56">
                      <hlm-select-value />
                    </hlm-select-trigger>
                    <hlm-select-content>
                      @for(status of statusOptions; track status ) {
                      <hlm-option [value]="status">{{
                        status.toUpperCase()
                      }}</hlm-option>
                      }
                    </hlm-select-content>
                  </brn-select>
                </div>
              </div>

              <hlm-dialog-footer>
                <button hlmBtn type="submit">Save changes</button>
              </hlm-dialog-footer>
            </form>
          </hlm-dialog-content>
        </hlm-dialog>

        <!-- end of edit DIALOG -->

        <app-delete-usertask-dialog />
      </hlm-td>
    </hlm-trow>
    }
    <hlm-trow class="bg-muted/50 hover:bg-muted">
      <hlm-td truncate class="w-[100px] font-semibold">Total</hlm-td>
      <hlm-td class="w-40"></hlm-td>
      <hlm-td class="flex-1"></hlm-td>
      <hlm-td class="justify-end w-40">{{ tasks().length }} tasks</hlm-td>
    </hlm-trow>
  </hlm-table>
</main>
